name: Node.js CI

permissions:
    contents: read

on:
    push:
        branches: [main]
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js
              uses: actions/setup-node@v6
            - name: Install Node dependencies
              run: yarn --frozen-lockfile
            - name: Build
              run: yarn build
            - name: Build lib
              run: yarn build:lib
            - name: Test
              run: yarn test:unit
            - name: Lint
              run: yarn lint
            - name: Check formatting
              run: yarn fmt
